name: Test Incoming Changes

on:
  pull_request:
    branches:
      - main
permissions: read-all
jobs:
  lint-and-vet:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run make vet
        run: make vet

      - name: Run linter
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout 10m0s
